body {
  background-color: #000000;

}

.App {
  text-align: center;
}

.maindiv {
margin: 0 auto;
background-color: #000000;
position: relative;
padding: 20px;


}

h1 {
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  padding: 30px;
}

h2 {
  color: white;
}

p {
  color: white;
}

.bigButton {
  position: relative;
  margin-left: 40%;
  margin-top: 10%;
  width: 200px;
  height: 50px;
  color: white;
  background: #E6752E;
  border: 1px solid #E6752E;
  border-radius: 12px;
  font-size: 15pt;
}

.inputfield {
  width: 30%;
  height: 56px;
  border-radius: 4px;
  border-color: #E6752E;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
  position: absolute;
  left: 35%;

}



.inputfield::placeholder {
  color: #E6752E;
  font-size: 20pt;
  text-align: center;
  font-family: "helvetica";
  font-weight: 600;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



