.App {
  text-align: center;
}

.maindiv {
margin: 100px;

}


.inputfield {
  width: 30%;
  height: 56px;
  border-radius: 4px;
  border-color: #E6752E;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}

.inputfield::placeholder {
  color: #E6752E;
  font-size: 20pt;
  text-align: center;
  font-family: "helvetica";
  font-weight: 600;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



